:root {
  --primaryColor: #90a959;
  --secondColor: #e9b872;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainRed: #c45151;
  --mainGreen: #4caf50;
}

body {
  font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
  background-color: rgb(247, 247, 247);
  line-height: 1.5;
}

.inner {
  width: 100%;
  max-width: 1120px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
