body {
  background-color: #eee;
}

header {
  display: block;
  height: 70px;
  margin-bottom: 30px;
}

.inner {
  width: 1120px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: inset 0 0 10px red;
}

ul {
  display: flex;
}

.contents__left {
  width: 700px;
  box-shadow: inset 0 0 10px red;
}

main {
  margin-bottom: 75px;
}