@mixin 작업영역 {
  box-shadow: inset 0 0 10px red;
}

$padding: 34px 26px 29px;

.contents__right {
  @include 작업영역;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.together {
  border-radius: 12px;
  overflow: hidden;
  .total {
    @include 작업영역;
    height: 249px;
    padding: 34px 24px 29px;
    background-color: #ffe800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      font-size: 20px;
      line-height: 1.5;
    }
    &__date {
      font-size: 13px;
      margin-top: 12px;
    }
    &__value {
      width: 308px;
      height: 60px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.review {
  @include 작업영역;
  height: 281px;
  padding: 34px 26px 46px;
  &__tag {
    font-size: 13px;
  }
  &__title {
    margin-top: 16px;
    line-height: 1.56;
    font-size: 18px;
  }
  &__text {
    font-size: 14px;
    margin-top: 11px;
    line-height: 1.92;
  }
}
.gift {
  height: 240px;
  @include 작업영역;
  padding: 35px 26px;
  line-height: 1.5;
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
  &__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.15;
  }
}
.mindweather {
  height: 387px;
  @include 작업영역;
  padding: 30px 26px;
  &__title {
    font-size: 20px;
  }
  &__card {
    &__img {
    }
    &__title {
      font-size: 15px;
    }
    &__text {
      font-size: 13px;
    }
  }
}
.news {
  height: 420px;
  @include 작업영역;
  padding: 30px 26px;
  &__title {
  }
  &__card {
    &__text {
    }
    &__img {
    }
  }
}
