header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  .inner {
    align-items: center;
  }
}

h1 {
  height: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.header__nav {
  height: 100%;
  font-weight: bold;
  letter-spacing: -2px;
  ul {
    display: flex;
    gap: 22px;
    height: 100%;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    box-sizing: border-box;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px;
      height: 100%;
    }
  }
}

.active {
  border-bottom: 2px solid rgb(57, 57, 57);
}

.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    a {
      display: flex;
      align-items: center;
      padding: 10px;
    }
    img {
      width: 24px;
    }
  }
}
